@import 'tailwindcss';

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}

.mt-safe {
  margin-top: env(safe-area-inset-top);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}

.px-safe {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
